# Logs
logs
*.log
npm-debug.log*

# Node modules
node_modules/

# Production build output
dist/
build/

# Local env files
.env
.env.local

# IDE & Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
